---
If:
  PathMatch: [shellcode/.*\.c]
CompileFlags:
  Add: 
    - --target=aarch64-darwin-none
    - -std=gnu2x
    - -fvisibility=hidden
    - -fno-stack-protector
    - -fno-exceptions
    - -nostdlib
    - -ffreestanding
    - -mgeneral-regs-only
    - -Wall
    - -Wextra
    - -Wno-unused-includes
    - -Oz
    - -DHAVE_SOC_S8000
    - -DHAVE_SOC_S8001
    - -DHAVE_SOC_S8003
    - -DHAVE_SOC_T8010
    - -DHAVE_SOC_T8011
    - -DHAVE_SOC_T8012
    - -DHAVE_SOC_T8015

---
If:
  PathMatch: [src/.*\.c, patches/.*\.c]
CompileFlags:
  Add: [-O2, -g, -Wall, -Wextra, -Wno-unused-parameter, -Wno-unused-variable, -Wno-unused-includes, -Iinclude]
